# Supabase
VITE_SUPABASE_URL=https://tu-proyecto.supabase.co/
VITE_SUPABASE_ANON_KEY=tu_anon_key_aqui
VITE_SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key_aqui

# API Ecoranger
VITE_ECORANGER_API_KEY=tu_api_key_aqui
